@model WebAnVat.Models.NguoiMua

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center my-4 text-primary">Chi Tiết Người Mua</h2>

<div class="container mt-4">
    <h4 class="mb-3">Thông Tin Người Mua</h4>
    <hr />

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.Ten)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Ten)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.Sdt)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Sdt)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.Email)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.MatKhau)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.MatKhau)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.UserType)</strong>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.UserType)
        </div>
    </div>

    <div class="form-actions mt-4">
        <div class="d-flex justify-content-between">
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.ID_NgMua }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Quay Lại Danh Sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
