<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/asset/css/base.css ">
    <link rel="stylesheet" href="~/asset/css/style.css">
    <link rel="stylesheet" href="~/asset/css/detailProducts.css" />
    <link rel="stylesheet" href="~/asset/css/responsiveIndex.css" />
</head>
<body>
    <div class="web">
        <div class="header">
            <div class="header__navbar container-md">
                <div class="header__navbar-left">
                    <a href="@Url.Action("Index", "Home")" class="navbar-left__brand">
                        <img src="~/asset/img/logo.png" alt="">
                    </a>
                    <form class="navbar-left__search" role="search" method="get" action="@Url.Action("searchByName", "Home")">
                        <button type="submit" class="navbar-left__search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input class="navbar-left__search-input" autocomplete="off" type="search" placeholder="Bạn muốn mua gì ? " aria-label="Search" name="tenmon">
                    </form>
                </div>

                @*menu của mobile*@
                <div class="header__mobile-menu">
                    <div class="mobile__icon-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>

                <div class="header__navbar-right">
                    <div class="navbar-right__method">
                        <div class="navbar-right__method-img">
                            <img src="~/asset/img/navbar/delivery.png" alt="">
                        </div>
                        <div class="navbar-right__method-text">
                            Giao hàng tận nơi 24/24
                        </div>
                    </div>

                    <div class="navbar-right__mail">
                        <i class="fa-regular fa-envelope"></i>
                    </div>

                    @if (Session["ID"] == null)
                    {
                        <a href="@Url.Action("Login","Account")" class="navbar-right__user">
                            <i class="fa-regular fa-user"></i>
                        </a>
                    }
                    else
                    {
                        <div class="navbar-right__user">
                            <i class="fa-regular fa-user"></i>
                            <div class="navbar-right__user-menu">
                                <a href="" class="user-menu__content">
                                    <i class="fa-solid fa-id-card"></i>
                                    <span>Thông tin cá nhân</span>
                                </a>
                                <a href="@Url.Action("loadCart","Home")" class="user-menu__content">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span>Đơn hàng</span>
                                </a>
                                <a href="@Url.Action("Logout","Account")" class="user-menu__content">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    <span>Đăng xuất</span>
                                </a>
                                @if (Session["UserType"] != null && Session["UserType"].ToString() == "Admin")
                                {
                                    <a href="@Url.Action("Index", "Mons", new { area = "Admin" })" class="user-menu__content">
                                        <i class="fa-solid fa-cogs"></i>
                                        <span>Quản trị</span>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="header__menu">
                <ul class="header__menu-list nav justify-content-center">
                    <li class="header__menu-item nav-item">
                        <a class="header__menu-link nav-link" href="#">Trang chủ</a>
                    </li>

                    <li class="header__menu-item nav-item">
                        <a class="header__menu-link nav-link" href="#">
                            menu
                        </a>
                        <div class="header__box">
                            <ul class="header__box-left">
                                <a href="#" class="header__box-text">Thức uống</a>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Trà trái cây</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Trà sữa</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Cà phê</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Đá xay</a>
                                </li>
                            </ul>

                            <ul class="header__box-right">
                                <a href="#" class="header__box-text">Bánh</a>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Bánh lạnh</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Bánh cookies - croissant</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Bánh mì</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    @*<li class="header__menu-item nav-item">
                        <a class="header__menu-link nav-link" href="#">
                            sản phẩm đóng gói
                        </a>
                        <div class="header__box">
                            <ul class="header__box-left">
                                <a href="#" class="header__box-text">Trà</a>
                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Trà hộp giấy</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Trà gói cao cấp</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Cà túi lọc</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Trà túi tam giá</a>
                                </li>
                            </ul>

                            <ul class="header__box-right">
                                <a href="#" class="header__box-text">Cà phê</a>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Cà phê hạt không bơ</a>
                                </li>
                            </ul>
                        </div>
                    </li>*@
                    <li class="header__menu-item nav-item">
                        <a class="header__menu-link nav-link" href="#">
                            về chúng tôi
                        </a>
                        <div class="header__box">
                            <ul class="header__box-left">
                                <a href="#" class="header__box-text">Trà</a>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Trà hộp giấy</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Trà gói cao cấp</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Cà túi lọc</a>
                                </li>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Trà túi tam giá</a>
                                </li>
                            </ul>

                            <ul class="header__box-right">
                                <a href="#" class="header__box-text">Cà phê</a>

                                <li class="header__box-item">
                                    <a href="#" class="header__box-link">Cà phê hạt không bơ</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="header__menu-item nav-item">
                        <a class="header__menu-link nav-link" href="#">
                            khuyến mãi
                        </a>
                    </li>

                    <li class="header__menu-item nav-item">
                        <a class="header__menu-link nav-link" href="@Url.Action("Register","Account")">
                            Tạo tài khoản
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div>@RenderBody()</div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="footer__box">
                            <div class="footer__title">
                                Ăn Vặt Shop
                            </div>
                            <div class="footer__paragraph">
                                Giao hàng mọi nơi trong thời gian nhanh nhất, nhận hàng nhanh chóng. Hình ảnh chụp thật 100%, đảm bảo sản phẩm đúng như hình đăng tải. Liên hệ tư vấn nhanh chóng khi khách hàng đặt sản phẩm.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="footer__box">
                            <div class="footer__title">
                                Chăm sóc khách hàng
                            </div>
                            <ul class="footer__list">
                                <a href="#" class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-link"></i>
                                    </div>
                                    <div class="footer__text">Hướng dẫn mua hàng</div>
                                </a>
                                <a href="#" class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-link"></i>
                                    </div>
                                    <div class="footer__text">Hình thức thanh toán</div>
                                </a>
                                <a href="#" class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-link"></i>
                                    </div>
                                    <div class="footer__text">Chính sách bảo mật</div>
                                </a>
                                <a href="#" class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-link"></i>
                                    </div>
                                    <div class="footer__text">Vận chuyển và giao nhận</div>
                                </a>
                                <a href="#" class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-link"></i>
                                    </div>
                                    <div class="footer__text">Hỗ trợ</div>
                                </a>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="footer__box">
                            <div class="footer__title">
                                Thông tin liên hệ
                            </div>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-shop"></i>
                                    </div>
                                    <div class="footer__text">Tên Shop</div>
                                </li>
                                <li class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="footer__text">140 Lê Trọng Tấn</div>
                                </li>
                                <li class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                    <div class="footer__text">abc123@gmail.com</div>
                                </li>
                                <li class="footer__item">
                                    <div class="footer__wrapIcon">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="footer__text">0909090909</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Kiểm tra nếu trang hiện tại là trang giỏ hàng, không hiển thị giỏ hàng *@
    @if (Request.Url.AbsolutePath.Contains("/Home/loadCart"))
    {
        // Không hiển thị giỏ hàng nếu đang ở trang giỏ hàng
    }
    else
    {
        @* Nếu chưa đăng nhập thì khi click vào giỏ hàng sẽ chuyển đến trang đăng nhập *@
        if (Session["ID"] == null)
        {
            <a href="@Url.Action("Login", "Account")" class="cart-btn">
                <div class="cart-btn__wrap-icon">
                    <i class="fa-solid fa-cart-plus cart__icon"></i>
                </div>
            </a>
        }
        @* Nếu đã đăng nhập thì khi click vào giỏ hàng sẽ chuyển đến trang giỏ hàng *@
        else
        {
            <a href="@Url.Action("loadCart", "Home")" class="cart-btn">
                <div class="cart-btn__wrap-icon">
                    <i class="fa-solid fa-cart-plus cart__icon"></i>
                </div>
            </a>
        }
    }

</body>

@*Modal mobile menu*@
<div class="modal" id="modal__menu">
    <div class="modal__container">
        <div class="mobile__menu-list">
            <div class="mobile__wp-btn-close">
                <i class="fa-solid fa-xmark mobile__btn-close"></i>
            </div>
            <div class="mobile__menu-items">
                <a href="@Url.Action("mobileFilterDrink","Home")" class="mobile__menu-item">Thức uống</a>
                <a href="@Url.Action("mobileFilterFood", "Home")" class="mobile__menu-item">Đồ ăn</a>
                <a href="" class="mobile__menu-item">Liên hệ</a>

                @if (Session["ID"] == null)
                {
                    <a href="@Url.Action("Login","Account")" class="mobile__menu-item">Đăng nhập</a>
                }
                else
                {
                    <a href="@Url.Action("Logout","Account")" class="mobile__menu-item">Đăng xuất</a>
                }
            </div>
        </div>
    </div>
</div>

<script>
    //Bật, tắt menu trên ipad, điênh thoại
    var mobileBtnClose = document.querySelector(".mobile__btn-close")
    var mobileBtnMenu = document.querySelector(".mobile__icon-menu")
    var modal = document.querySelector(".modal")
    var modalContainer = document.querySelector(".modal__container")

    mobileBtnMenu.addEventListener("click", () => {
        modal.classList.add("active")
    })
    mobileBtnClose.addEventListener('click', () => {
        modal.classList.remove("active")
    })

    modal.addEventListener('click', () => {
        modal.classList.remove("active")
    })

    modalContainer.addEventListener('click', function (e) {
        e.stopPropagation();
        //Ngăn chặn hành vi click ở thẻ con mà thẻ cha vẫn có thể nghe thấy
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</html>