@model WebAnVat.Models.Mon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center my-4">Details</h2>

<div class="container mt-4">
    <h4 class="mb-3">Mon</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TenMon)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TenMon)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class="col-sm-9">
            <img src="@Url.Content("~/asset/img/Products/" + Model.HinhAnh)" class="img-fluid img-thumbnail" alt="@Model.TenMon" style="max-width: 200px; max-height: 200px; object-fit: cover;" />
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.GiaSauKhiGiam)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GiaSauKhiGiam)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LoaiMonAn.TenLoaiMonAn)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LoaiMonAn.TenLoaiMonAn)
        </dd>
    </dl>

    <div class="form-actions">
        <div class="d-flex justify-content-between">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Mon }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
