
@{
    ViewBag.Title = "loadCart";
    Layout = "~/Views/shared/_primaryLayout.cshtml";
}

@using WebAnVat.Models
@model List<loadCart>

<div class="body container">
    <div class="cart">
        <div class="cart__header">
            <div class="cart__icon">
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="cart__title">Giỏ hàng của bạn</div>
        </div>

        <div class="cart__products">
            @foreach (var i in Model)
            {
                if (i.ID_LoaiMonAn == 100)
                {
                    <div class="cart__product">
                        <div class="cart__product-img">
                            <img src="~/asset/img/Products/@i.Img" alt="">
                        </div>
                        <div class="cart__in4">
                            <div class="cart__in4-name">
                                @i.Name
                            </div>
                            <div class="cart__in4-option">
                                Kích cỡ: @i.Size, Ngọt: @i.Sweet, Đá: @i.Ice, Số lượng: @i.Quantity
                            </div>
                            <div class="cart__in4-price">
                                @i.price<span>đ</span>
                            </div>
                        </div>
                        <div class="cart__btn-delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                }
                else if (i.ID_LoaiMonAn == 101 || i.ID_LoaiMonAn == 102)
                {
                    <div class="cart__product">
                        <div class="cart__product-img">
                            <img src="~/asset/img/Products/@i.Img" alt="">
                        </div>
                        <div class="cart__in4">
                            <div class="cart__in4-name">
                                @i.Name
                            </div>
                            <div class="cart__in4-option">
                                Kích cỡ: @i.Size, Ngọt: @i.Sweet, Trà: @i.Tea, Đá: @i.Ice, Số lượng: @i.Quantity
                            </div>
                            <div class="cart__in4-price">
                                @i.price<span>đ</span>
                            </div>
                        </div>
                        <div class="cart__btn-delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                }
                else if (i.ID_LoaiMonAn == 103)
                {
                    <div class="cart__product">
                        <div class="cart__product-img">
                            <img src="~/asset/img/Products/@i.Img" alt="">
                        </div>
                        <div class="cart__in4">
                            <div class="cart__in4-name">
                                @i.Name
                            </div>
                            <div class="cart__in4-option">
                                Kích cỡ: @i.Size, Số lượng: @i.Quantity
                            </div>
                            <div class="cart__in4-price">
                                @i.price<span>đ</span>
                            </div>
                        </div>
                        <div class="cart__btn-delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="cart__payment-infor">
            <div class="payment-infor__title">Thông tin thanh toán</div>
            <div class="payment-infor__total">
                <div class="payment-infor__text">Tổng tiền tạm tính</div>
                <div class="payment-infor__price">@ViewBag.tamtinh<span>đ</span></div>
            </div>
            <div class="payment-infor__ship">
                <div class="payment-infor__text">Phí vận chuyển</div>
                <div class="payment-infor__price">15.000đ</div>
            </div>
            <div class="payment-infor__result">
                <div class="payment-infor__text">Tổng tiền (Đã có VAT)</div>
                <div class="payment-infor__price payment-infor__price--active">@(ViewBag.thanhtien)<span>đ</span></div>
            </div>
        </div>

        <div class="cart__payment-method">
            <div class="payment-method__title">Phương thức thanh toán</div>
            <from class="payment-method__option">
                <select class="form-select" aria-label="Default select example">
                    <option value="1">Thanh toán trực tiếp</option>
                    <option value="2">Thanh toán bằng thẻ ngân hàng</option>
                </select>
            </from>
        </div>

        <div class="cart__btn-buy">
            Tiến hành thanh toán
        </div>
    </div>
</div>

