
@{
    ViewBag.Title = "mobileFilterDrink";
    Layout = "~/Views/shared/_primaryLayout.cshtml";
}

@using WebAnVat.Models
@model List<Mon>

<div class="container mt-150px">
    <div class="products__title">
        <h2>Đồ ăn vặt</h2>
    </div>
    <div class="row">
        @foreach (var i in Model)
        {
            <div class="col-sm-12 col-md-4 col-lg-3 products__item active">

                @if (Session["ID"] == null)
                {
                    <a href="@Url.Action("Login","Account")" class="products__item-link">
                        <div class="products__boxItem">
                            <div class="products__boxImg">
                                <img src="~/asset/img/Products/@i.HinhAnh" alt="" class="products__img">
                            </div>
                            <div class="products__content">
                                <div class="products__name">
                                    @i.TenMon
                                </div>
                                <div class="products__wrapPrice">
                                    <div class="products__currentPrice">@i.GiaSauKhiGiam<span>đ</span></div>
                                    <div class="products__oldPrice">@i.GiaBan<span>đ</span></div>
                                </div>
                                <div class="products__btnBuy">Đặt mua</div>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("detailProducts","Home", new {id = i.ID_Mon})" class="products__item-link">
                        <div class="products__boxItem">
                            <div class="products__boxImg">
                                <img src="~/asset/img/Products/@i.HinhAnh" alt="" class="products__img">
                            </div>
                            <div class="products__content">
                                <div class="products__name">
                                    @i.TenMon
                                </div>
                                <div class="products__wrapPrice">
                                    <div class="products__currentPrice">@i.GiaSauKhiGiam<span>đ</span></div>
                                    <div class="products__oldPrice">@i.GiaBan<span>đ</span></div>
                                </div>
                                <div class="products__btnBuy">Đặt mua</div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
</div>



